<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Dummy CAD Data - {{ text }}</title>  
  </head>
  
  <body>
    <!-- <p>CAD ID: {{ content.CadId }}</p> -->
  </body>
</html>
